.dark {
  --bg: hsl(0, 0%, 7%);
  --main: hsl(0, 0%, 14%);
  --main-font: hsl(0, 0%, 90%);
  --mute-font: hsl(0, 0%, 70%);
  --btn-h: hsl(0, 0%, 25%);
  --ntf: hsl(0, 0%, 32%);
  --wdgt: hsl(0, 0%, 85%);
}

.light {
  --bg: hsl(0, 0%, 92%);
  --main: hsl(0, 0%, 100%);
  --main-font: hsl(0, 0%, 10%);
  --mute-font: hsl(0, 0%, 30%);
  --btn-h: hsl(0, 0%, 85%);
  --ntf: hsl(0, 0%, 78%);
  --wdgt: hsl(0, 0%, 94%);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}